In [2]:
# Tuples 
# Tuples are immutable lists
# Tuples are faster than lists
# Tuples are used to protect data from being changed by mistake.


# Create a tuple
t = (1,2,3,4,5)

In [3]:
type(t)

tuple

In [4]:
t1=(1,2,3,4,5,6,7,8,9,10, 3.142, 45+7j, "Hello", True)

In [5]:
type(t1)

tuple

In [6]:
# list 
l = [1,2,3,4,5,6,7,8,9,10, 3.142, 45+7j, "Hello", True]

In [7]:
type(l)

list

In [14]:
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3.142, (45+7j), 'Hello', True)

In [13]:
# tuples saves data in indexwise
t1[12]

'Hello'

In [15]:
# reverse order
t1[::-1]

(True, 'Hello', (45+7j), 3.142, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [16]:
# it will not make changes in existing tuple
t1[12]

'Hello'

In [17]:
# to reverse the tuple
t1 = t1[::-1]

In [18]:
t1

(True, 'Hello', (45+7j), 3.142, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [19]:
t1[12]

2

In [20]:
# extract data from 0 to 2 slicing operation
t1[0:3]

(True, 'Hello', (45+7j))

In [ ]:
# tuple has 2 methods index (whiat is the index of a very 1st occurrences) and count (return total count of occurrences)

In [21]:
t1.count(3.142)

1

In [23]:
t1.index(1) # 1 is the value of True hence its value of 0

0

In [24]:
t1.index(2)

12

In [25]:
t1.count(True)

2

In [26]:
t1.count(1)

2

In [ ]:
# Difference between list and tuple
# 1. list is mutable and tuple is immutable
# 2. list is slower than tuple
# 3. list has more methods than tuple
# 4. list is used to store data which is going to change in future
# 5. tuple is used to store data which is not going to change in future
# 6. Item assignment is possible in list but not in tuple

In [8]:
# exactly same as list but immutable
t1[1] = 100

TypeError: 'tuple' object does not support item assignment

In [27]:
# Iterative statements in tuples

for i in t1:
    print(i)

True
Hello
(45+7j)
3.142
10
9
8
7
6
5
4
3
2
1

In [32]:
t2 = (1,2,3,3,4)

In [33]:
t2 * 3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [34]:
max(t2)

4

In [36]:
min(t2)

1

In [37]:
t3 = (1,2,3,4,55)
t4 = (6, 7, 8, 9, 10)

In [38]:
t5 = (t3,t4) # you can have tuple inside tuple

In [39]:
t5

((1, 2, 3, 4, 55), (6, 7, 8, 9, 10))

In [40]:
# you can have list inside tuple

t6 = ([1,2,3,4,5], [6,7,8,9,10])

In [41]:
t6

([1, 2, 3, 4, 5], [6, 7, 8, 9, 10])

In [42]:
# update and Insert is not possible in Tuple, but can we delete it ?

del t6

In [43]:
t6 # it will give error as t6 is deleted

NameError: name 't6' is not defined

In [44]:
# how to check if value is available in tuple or not?
"Harshad" in t1

False

In [46]:
2 in t1

True