AS PART of DATA preprocessing we will be focusing on below data clearning techniques:

1.  tokenization
2.  lowercase / uppercase
3.  emojis
4.  pancuations
5.  html,url
6.  stopwords
7.  abbravation or slang
8.  steemming and lemmetization
9.  spelling correction
10. whitspace

In [1]:
# importing data from the Kaggle dataset
import pandas as pd
import re

In [2]:
data=pd.read_csv("testdata/twcs.csv")

In [3]:
data.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [4]:
data.tail()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN

In [5]:
data.sample(5)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
1891646,2047100,Postmates_Help,False,Wed Oct 18 23:14:58 +0000 2017,"@605417 Oh no, so sorry for that mess! Please ...",NaN,2047101.0
1997079,2154257,AmazonHelp,False,Mon Nov 20 16:06:30 +0000 2017,@632928 Thank you for your kind words. Alexa i...,NaN,2154258.0
2008735,2166122,635747,True,Sun Nov 26 14:31:27 +0000 2017,@AmazonHelp Thanks. Just sent an email,2166123,2166121.0
2739712,2915056,AirAsiaSupport,False,Tue Nov 28 23:02:50 +0000 2017,@806909 we have replied you via DM.Thanks-Emir,"2915057,2915058",2915059.0
1875803,1742781,Tesco,False,Tue Nov 07 14:28:35 +0000 2017,@525696 Please could you return the product to...,NaN,1742779.0

In [6]:
data["text"][0]

'@115712 I understand. I would like to assist you. We would need to get you into a private secured link to further assist.'

In [7]:
# we will start with the lowercase conversion:
# 2.  lowercase / uppercase

data["text"]=data["text"].str.lower()

In [8]:
data.sample(5)["text"]

553582     @uber_support\nno customer support no. no emai...
2794555    @236733 i am sorry that your package arrived i...
2111888    @marksandspencer we did it and we loved it! no...
2236442    first time they all flew  @virginatlantic and ...
1361862    @467998 @115911 did you get yours early or is ...
Name: text, dtype: object

In [9]:
# we will now remove html tags and urls:
# 5.  html,url

In [10]:
import re
def remove_html_tags(text1):
    pattern=re.compile('<.*?>')
    return pattern.sub("",text1)

In [11]:
data["text"]=data["text"].apply(remove_html_tags)

In [12]:
data.sample(5)["text"]

2032629    @641334 hey leland! to stop it from displaying...
1215296    @115821 - can you tell me why a prime order fo...
1791326    @578250 i can understand if you feel this way....
2645242    @785459 i understand that issues like these ha...
2666479    @790261 thanks, i'm getting that pulled up now...
Name: text, dtype: object

In [16]:
def remove_url(text):
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub("",text)

In [17]:
data["text"]=data["text"].apply(remove_url)

In [18]:
data.sample(5)["text"]

1968233    @625728 a damsel in distress! ðŸ˜² share this wit...
2167581    @165302 @coxhelp can you get century link fibe...
854261     @sainsburys have told me "sainsbury's do not a...
1860518    my life is made. cheese and cold meat combos f...
2488458    @sw_help has anyone told you there's a rugby m...
Name: text, dtype: object

In [19]:
# now we will remove the punctuation:
#4.  punctuation

import string
exclude=string.punctuation
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,"")
    return text

In [20]:
data["text"]=data["text"].apply(remove_punc)

In [21]:
data.sample(5)["text"]

1827441    so to southwestair for bein a homie when i dou...
1178829                     115955 your serivces fucken suck
2079247    652761 im sorry to hear of this parcels should...
716777     gwrhelp hello number of carriages on the 1723 ...
2690866    hulusupport i tried logging in to contact abou...
Name: text, dtype: object

In [22]:
# now we will be removing Emojis:
# 3.  Emojis

import emoji
def remove_emoji(text):
    clean_text=emoji.demojize(text)
    return clean_text

In [23]:
data["text"]=data["text"].apply(remove_emoji)

In [28]:
data.sample(5)["text"]

301275          amazonhelp still need other orders cancelled
517323     257430 wed be happy to answer any questions we...
1108723    407556 please dont provide your order details ...
1370441    470071 hey we have the rights to offer new epi...
1668853           dropboxsupport its working fine now thanks
Name: text, dtype: object

In [29]:
# AS we done data cleaning for punchuation earlier we will rerun it to remove the : and _ from the text
data["text"]=data["text"].apply(remove_punc)

In [30]:
data.sample(5)["text"]

2664817    askplaystation hi i activated a ps plus subscr...
674488     300435 hello we have found some documentation ...
650752     294498 were sorry to hear about the trouble ch...
1096528             delta i asked air china to add my number
1004990    382821 also donâ€™t provide your order details a...
Name: text, dtype: object

In [33]:
def remove_punc1(text):
    return text.translate(str.maketrans("","",exclude))

In [34]:
data["text"]=data["text"].apply(remove_punc1)

In [35]:
data.sample(5)["text"]

1763804    you guys may think its stupid but im happy and...
1316515    amazonhelp hello can i have the uk fax number ...
1905759    605529 gotcha try unplugging the box and unscr...
286625     194109 hi nicole glad to see youre back with u...
1616327    532259 well be happy to take a closer look sen...
Name: text, dtype: object

In [36]:
# we will update abbravation or slang words:
# 7.  abbravation

chat_words={
   " AFAIK":"As Far As I Know",
"AFK": "Away From Keyboard",
"ASAP":"As Soon As Possible",
"BTW":"By The Way",
"B4":"Before",
"LAMO":"Laugh My A.. Off",
"FYI":"For your information"
}

In [37]:
def chat_conversion(text):
    
    new_text=[]
    words = text.split()
    for w in words:
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [41]:
#data["text"] = data["text"].apply(lambda x: ' '.join(x))
data["text"] = data["text"].apply(chat_conversion)

In [42]:
data.sample(5)["text"]

191982     169917 426 427 81 169918 169919 160959 428 429...
503840     159776 hi just stepping in to see if we could ...
713580     atviassist thank you for responding but i stil...
2594440                     sprintcare data fucking up again
712264     115911 117159 cont i have the jump off plan to...
Name: text, dtype: object

In [45]:
# we will rectify spelling mistakes:
# 6.  spelling mistakes
import textblob
from textblob import TextBlob

def spell_correction(text):
    return str(TextBlob(text).correct())

In [46]:
data["text"] = data["text"].apply(lambda x: spell_correction(x))

In [ ]:
data.sample(5)["text"]

In [31]:
import nltk
import re

nltk.download('stopwords')

def remove_stopwords(text, language='english'):
    # Load stopwords for the specified language
    stop_words = set(nltk.corpus.stopwords.words(language))

    words = text.split()
    cleaned_words = []

    for word in words:
        if word.lower() not in stop_words:
            cleaned_words.append(word)

    cleaned_text = ' '.join(cleaned_words)
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()  # Remove extra spaces

    return cleaned_text

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
data["text"]=data["text"].apply(remove_stopwords)

In [29]:
data.shape[0]

2811774

In [47]:
# Display the updated 'data' DataFrame
data.sample(5)["text"]
#print(data)

834547     340516 provide info conditions carriage bookin...
242121     amazonhelp 1840 115851 please tell cheated ama...
1180212    424602 apologies expected wither please dm us ...
745194     318340 hello sorry hear dm us phone number att...
1325271    458893 sorry hear ashley anything assist pleas...
Name: text, dtype: object

In [48]:
# now we will tokaniize the words:
# 1.  Tokenization

import nltk

# Download the required NLTK resources
nltk.download('punkt')

# Define the function for tokenization
def tokenize_text(text):
    tokens = nltk.word_tokenize(text)
    return tokens

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [49]:
data["text"]=data["text"].apply(tokenize_text)

In [56]:
data.sample(5)["text"]

1889819    [604900, i, â€™, d, like, share, thoughts, pass,...
2218858                          [southwestair, thanks, lot]
743255     [115851, sir, support, 115850, tracing, item, ...
1538341    [512629, boy, ever, check, find, perfect, one,...
1627494    [535326, shanna, let, look, fees, please, dm, ...
Name: text, dtype: object

In [66]:
# At last we will doing steemming and lemmetization
# 8.  steemming and lemmetization

from textblob import TextBlob
from nltk.stem import PorterStemmer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

# Function for stemming using NLTK's PorterStemmer
def stem_text(text):
    stemmer = PorterStemmer()
    stemmed_words = [stemmer.stem(word) for word in text.split()]
    return ' '.join(stemmed_words)

# Function for lemmatization using TextBlob
def lemmatize_text(text):
    blob = TextBlob(text)
    lemmatized_words = [word.lemmatize() for word in blob.words]
    return ' '.join(lemmatized_words)

In [67]:
# Apply stemming to the "text" column and update it
data["text"] = data["text"].apply(stem_text)
# as we have less time we will go with steming only

KeyboardInterrupt:

In [68]:
data.sample(5)["text"]

1208780    argoshelpers thanks chance detailed informatio...
731214     314680 thanks reaching unfortunately can â€™ t r...
2041280    643414 ohh looks delish enjoy flight thank cho...
2636800            comcastoutage comcastcares explain outage
927359     363538 wed love help issue coming across devic...
Name: text, dtype: object

In [ ]:
# Apply lemmatization to the "text" column and update it
data["text"] = data["text"].apply(lemmatize_text)