In [2]:
# incase of Sets we will use paranthesis

s = {1,2,3,4,5,6,7,8,9,10}

In [3]:
type(s)

set

In [ ]:
# we use balnk paranthesis to create empty set but consider it as dictionary

In [4]:
h = {}

In [5]:
type(h)

dict

In [ ]:
# How set is different from tuples and list
# 1. Set is unordered
# 2. Set is mutable
# 3. Set is unique
# 4. Set is not indexed
# 5. Set is iterable
# 6. Set is hashable
# 7. Set is dynamic
# 8. it removes duplicates and try to store unique values

In [7]:
s2={1,2,3,4,5,6,7,8,9,10,1,2,3,4,5}

In [8]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
# convert set into a list
l = list(s2)

In [12]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# convert set into a tuple
tuple(s2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
# convert list in to set
s3 = set(l)

In [14]:
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
# we can not store integer and list in set . As it has unhashable type: 'list'

s4 = {1,2,3,4,5,6,7,8,9,10,[1,2,3,4,5]}

TypeError: unhashable type: 'list'

In [16]:
# it is allowing to store tuples inside a set. As we know list is mutable and tuple is immutable

s6 = {1,2,3,4,5,6,7,8,9,10,(1,2,3,4,5)}

In [17]:
s6

{(1, 2, 3, 4, 5), 1, 10, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
s7 = {"sudh","sudh" , 2,3,4,5}

In [19]:
s7

{2, 3, 4, 5, 'sudh'}

In [20]:
s8 = {"Harshad", "harshad", 2, 3,4,5,5,6}

In [21]:
s8

{2, 3, 4, 5, 6, 'Harshad', 'harshad'}

In [22]:
# you can't subscripe set as it is not indexed

s8[0]

TypeError: 'set' object is not subscriptable

In [23]:
# reverse of the set is not possible
s8[::-1]

TypeError: 'set' object is not subscriptable

In [24]:
# Iteration is possible. But help of indexces yuo can't do it. You have to use for loop

for i in s8:
    print(i)

Harshad
2
3
4
5
6
harshad

In [ ]:
# Inbuilt functions of set

In [25]:
s8.add("Sudh")

In [26]:
s8

{2, 3, 4, 5, 6, 'Harshad', 'Sudh', 'harshad'}

In [27]:
len(s8)

8

In [28]:
s8.pop() # it pop the element from the set. But it is not in order

'Harshad'

In [29]:
s8

{2, 3, 4, 5, 6, 'Sudh', 'harshad'}

In [30]:
s8.clear() # it will clear the set

In [31]:
s8

set()

In [33]:
s6.difference(s7) # it will give the difference between two sets

{(1, 2, 3, 4, 5), 1, 10, 6, 7, 8, 9}

In [39]:
s6.difference(s3)

{(1, 2, 3, 4, 5)}