In [2]:
# Dictionary  -  key/value pairs, unordered, mutable

In [115]:
my_dict = dict()
type(my_dict)

dict

In [4]:
d = {}
type(d)

dict

In [8]:
# Dictionary is set of Key/value pairs
d1={'name':'John', 'age':25}, {'name':'Jane', 'age':24}

In [9]:
d1

({'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 24})

In [11]:
type(d1)

tuple

In [12]:
d2={"name":"Harshad", "name":"Raj"}

In [13]:
d2 # Duplicate keys are not allowed. it will take last value as it will overwrite the previous value.

{'name': 'Raj'}

In [16]:
d3={1234:"Harshad", 1235:"Raj"}
d3 # Key can me NUmeric, float, or boolean

{1.1: 'Harshad', 1.2: 'Raj'}

In [17]:
d4={True:"Harshad", False:"Raj"}
d4

{True: 'Harshad', False: 'Raj'}

In [18]:

d5={1.1:"Harshad", 1.2:"Raj"}
d5

{1.1: 'Harshad', 1.2: 'Raj'}

In [19]:
# Key can not be a special characters as key of dictionary
d6 = {@:"Harshad", #:"Raj"}

SyntaxError: invalid syntax (285025623.py, line 2)

In [20]:
d8 = {[(]1,2,3]: "Harshad"}  # List can not be key of dictionary

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (1450269515.py, line 1)

In [21]:
d9 = {{1,2,3}: "Harshad"}  # Set can not be key of dictionary

TypeError: unhashable type: 'set'

In [23]:
d10={(1,2,3): "Harshad"}  # Tuple can be key of dictionary
d10

{(1, 2, 3): 'Harshad'}

In [25]:
d11={{"Key":234}: "Harshad"}  # Dictionary can not be key of dictionary

TypeError: unhashable type: 'dict'

In [27]:
# Now focus on Value part

d12={"course_name":"Python", "course_name":"Java"}
d12

{'course_name': 'Java'}

In [29]:
d13={"course_name":["Python","Java","Scala"]} # Value can be a list
d13

{'course_name': ['Python', 'Java', 'Scala']}

In [31]:
d14={"course_name":("Python","Java","Scala")} # Value can be a tuple
d14

{'course_name': ('Python', 'Java', 'Scala')}

In [32]:
d15={"course_name":{"Python","Java","Scala"}} # Value can be a set
d15

{'course_name': {'Java', 'Python', 'Scala'}}

In [34]:
d16={"course_name":{"course1":"Python","course2":"Java","course3":"Scala"}} # Value can be a dictionary, here key of dictionary is string and value is dictionary it called nested dictionary.
d16

{'course_name': {'course1': 'Python', 'course2': 'Java', 'course3': 'Scala'}}

In [39]:
d17={"course_name":{"course":["Python","Java","Scala"]},"date":{1,10,25},"location":("Pune","Delhi","Mumbai")} # Value can be a dictionary, here key of dictionary is string and value is dictionary, set or list
d17

{'course_name': {'course': ['Python', 'Java', 'Scala']},
 'date': {1, 10, 25},
 'location': ('Pune', 'Delhi', 'Mumbai')}

In [41]:
# Addind new key/value pair in dictionary

d16["course_name"]["course4"]="C++"
d16

{'course_name': {'course1': 'Python',
  'course2': 'Java',
  'course3': 'Scala',
  'course4': 'C++'}}

In [42]:

d16["course_name"]

{'course1': 'Python', 'course2': 'Java', 'course3': 'Scala', 'course4': 'C++'}

In [43]:
type(d16["course_name"])

dict

In [44]:
d16["Key"]  # If key is not present in dictionary then it will throw error

KeyError: 'Key'

In [45]:
# to add 1 more dataset in dictionary
d16["course_name"]["course5"]="C#"
d16

{'course_name': {'course1': 'Python',
  'course2': 'Java',
  'course3': 'Scala',
  'course4': 'C++',
  'course5': 'C#'}}

In [47]:
d16["name"]="Harshad"
d16

{'course_name': {'course1': 'Python',
  'course2': 'Java',
  'course3': 'Scala',
  'course4': 'C++',
  'course5': 'C#'},
 'name': 'Harshad'}

In [48]:
#update the value of key
d16["name"]="Raj"
d16

{'course_name': {'course1': 'Python',
  'course2': 'Java',
  'course3': 'Scala',
  'course4': 'C++',
  'course5': 'C#'},
 'name': 'Raj'}

In [52]:
d16["name"].upper()

'HARSHAD'

In [56]:
d16['course_name']['course1'].upper()

'PYTHON'

In [59]:
# Deleting Keys from dictionary

del d16['course_name']['course1']
d16

{'course_name': {'course2': 'Java',
  'course3': 'Scala',
  'course4': 'C++',
  'course5': 'C#'}}

In [60]:
d16

{'course_name': {'course2': 'Java',
  'course3': 'Scala',
  'course4': 'C++',
  'course5': 'C#'}}

In [62]:
len(d17)

3

In [64]:
d17.keys() # It will return all the keys of dictionary

dict_keys(['course_name', 'date', 'location'])

In [67]:
d17.values() # It will return all the values of dictionary

dict_values([{'course': ['Python', 'Java', 'Scala']}, {1, 10, 25}, ('Pune', 'Delhi', 'Mumbai')])

In [68]:
# convert dictionary into list, it is called type conversion

list(d17.values())

[{'course': ['Python', 'Java', 'Scala']},
 {1, 10, 25},
 ('Pune', 'Delhi', 'Mumbai')]

In [69]:
# extract the list of key and value pair both

d17.items() # it will return list of tuple

dict_items([('course_name', {'course': ['Python', 'Java', 'Scala']}), ('date', {1, 10, 25}), ('location', ('Pune', 'Delhi', 'Mumbai'))])

In [70]:
#convert output in list

list(d17.items())

[('course_name', {'course': ['Python', 'Java', 'Scala']}),
 ('date', {1, 10, 25}),
 ('location', ('Pune', 'Delhi', 'Mumbai'))]

In [72]:
# create a replica of dictionary, it is called deep copy

d18=d17.copy()
d18

{'course_name': {'course': ['Python', 'Java', 'Scala']},
 'date': {1, 10, 25},
 'location': ('Pune', 'Delhi', 'Mumbai')}

In [74]:
# another way to create a replica of dictionary, 

d19=d17
d19

{'course_name': {'course': ['Python', 'Java', 'Scala']},
 'date': {1, 10, 25},
 'location': ('Pune', 'Delhi', 'Mumbai')}

In [75]:
del d17["course_name"] #  '=' t will replicate the dictionary and even original dictionary is deleted then also replica will be deleted. It is called swallo copy.
d19

{'date': {1, 10, 25}, 'location': ('Pune', 'Delhi', 'Mumbai')}

In [78]:
d17

{'date': {1, 10, 25}, 'location': ('Pune', 'Delhi', 'Mumbai')}

In [79]:
d17.pop("date") # it will delete the key/value pair from dictionary
d17

{'location': ('Pune', 'Delhi', 'Mumbai')}

In [80]:
d19

{'location': ('Pune', 'Delhi', 'Mumbai')}

In [81]:
d18

{'course_name': {'course': ['Python', 'Java', 'Scala']},
 'date': {1, 10, 25},
 'location': ('Pune', 'Delhi', 'Mumbai')}

In [82]:
d.fromkeys(("a","b","c"),(1,2,3)) # it will create a dictionary with key and value pair

{'a': (1, 2, 3), 'b': (1, 2, 3), 'c': (1, 2, 3)}

In [83]:
d19 = {"a":1,"b":2,"c":3}
d20 = {"d":4,"e":5,"f":6}
d21 = {"g":7,"h":8,"i":9}
d22 = dict(d19,**d20,**d21) # it will merge 3 dictionaries into 1 dictionary
d22

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9}

In [84]:
(d19,d20) # it will create a tuple of dictionary

({'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5, 'f': 6})

In [87]:
d19.update(d20) # it will merge 2 dictionaries into 1 dictionary

In [88]:
d19

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [89]:
d20

{'d': 4, 'e': 5, 'f': 6}

In [90]:
d20.get("d") # it will return the value of key

4

In [91]:
d20.get("g") # it will return None if key is not present in dictionary

In [92]:
d20["d"]

4

In [93]:
d20["g"]

KeyError: 'g'

In [96]:
# using loops in dictionary

d22 = {for i in range(1,11)}

SyntaxError: invalid syntax (1401292857.py, line 3)

In [97]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
{i : i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [108]:
import math
d31 ={i : math.log10(i) for i in range(1,11)}
d31

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [104]:
d16

{'course_name': {'course2': 'Java',
  'course3': 'Scala',
  'course4': 'C++',
  'course5': 'C#'}}

In [105]:
'batch' in d16 # it will check the key is present in dictionary or not

False

In [106]:
'course_name' in d16

True

In [109]:
# filter the dictionary with values where keys are even numbers
for i in d31:
    if i%2==0:
        print(i,d31[i])

2 0.3010299956639812
4 0.6020599913279624
6 0.7781512503836436
8 0.9030899869919435
10 1.0

In [110]:
for i in d31.keys():
    if i%2==0:
        print(i,d31[i])

2 0.3010299956639812
4 0.6020599913279624
6 0.7781512503836436
8 0.9030899869919435
10 1.0

In [112]:
4 * 3 + 2 ** 2

16

In [113]:
x = [1, 2, 3] 
y = x 
y.append(4) 
print(x)

[1, 2, 3, 4]

In [116]:
my_dict = {'a': 1, 'b': 2, 'c': 3} 
print('b' in my_dict)

True

In [117]:
3 * 2 + 8 // 4

8

In [118]:
# Given string
given_string = "Harsshad"

# Initialize an empty dictionary to store character frequencies
char_frequency = {}

# Iterate over each character in the string
for char in given_string:
    if char in char_frequency:
        # Increment count of char in dictionary
        char_frequency[char] += 1
    else:
        # Add char to dictionary with count 1
        char_frequency[char] = 1

# Display the character frequencies
for char, frequency in char_frequency.items():
    print(f"'{char}': {frequency}")

'H': 1
'a': 2
'r': 1
's': 2
'h': 1
'd': 1

In [119]:
my_dict = {'a': 1, 'b': 2, 'c': 3} 
print(max(my_dict))

c

In [120]:
my_set = {1, 2, 3} 
my_set.add(4) 
print(my_set)

{1, 2, 3, 4}