In [3]:
# What is function in python?
# Function is a block of code which only runs when it is called.

# eg: eg of inbuilt function/standard function

print("Hello World")

Hello World

In [4]:
l = [1, 2, 3, 4, 5]
len(l)

5

In [5]:
# this is called function definition
# Syntax of function

def hello():  
    print("Hello World")

In [6]:
hello()

Hello World

In [8]:
# we should keep Naming convention for function:

def test():
  pass  # pass is a keyword which is used to skip the function

In [9]:
def test1():
  print("This is my 1st function")

In [10]:
test()

In [11]:
test1()

This is my 1st function

In [12]:
# function can return something and we can hold that value in a variable

test1() + "Harshad" # this will give error because test1() is not returning anything

This is my 1st function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
def test2():
  return "This is my function with return statement"

In [15]:
test2() + " Harshad" # this will work because test2() is returning something

'This is my function with return statement Harshad'

In [16]:
def test3():
  return 1, 2, 3, 4, 5, "HArshad", 34.56

In [17]:
test3() # this will return tuple

(1, 2, 3, 4, 5, 'HArshad', 34.56)

In [18]:
a = 1,2,3,4,5,6
a

(1, 2, 3, 4, 5, 6)

In [19]:
a,b,c,d = 1,2,34.56,True

In [20]:
a

1

In [21]:
d

True

In [22]:
test3()[5] # we can return tuple and we can access tuple elements using index from functions.

'HArshad'

In [23]:
test3()

(1, 2, 3, 4, 5, 'HArshad', 34.56)

In [27]:
# function is trying to return 4 values which we can inject in 4 variables

a,b,c,d,e,f,g = test3()

In [28]:
g

34.56

In [ ]:
1

In [29]:
# Writing a logic inside function
def test4():
  # logic 
  a = 3 * 4 + 5
  return a

In [30]:
type(test4())  # type of the retuen value is int

int

In [31]:
# Running a function:

test4()

17

In [32]:
# If you want to pass some data at the time of creation of function then we can pass it as an argument

def test5(a,b):
  c = a + b
  return c

In [33]:
test5(3,4) # we can provide an argument at the time of function call

7

In [34]:
test5("Harsshad", "Pawar") # here it will try to concatenate the string

'HarsshadPawar'

In [35]:
test5([1,2,3,4],[5,6,7,8]) # here it will try to concatenate the list

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
test5(b="Pawar", a="Harshad") #we can pass the argument by name

'HarshadPawar'

In [42]:
# Create a function which will take list as an input and give final list with all numeric values
l = [1,2,3,4,5, "Harshad", 34.56,"Pawar",True]

def test6(a):
  final_list = []
  for i in a:
    if type(i) == int or type(i) == float:
      final_list.append(i)
  return final_list

In [43]:
test6(l)

[1, 2, 3, 4, 5, 34.56]

In [44]:
m=[1,2,3,4,5, "Harshad", 34.56,"Pawar",[9,8,7,6]]

In [45]:
test6(m)

[1, 2, 3, 4, 5, 34.56]