MAP, REDUCE & FILTER FUNCTIONS

In [2]:
l = [1,2,3,4,5,6]

def test(l):
  l1 = []
  for i in l:
    l1.append(i**2)
  return l1

In [3]:
test(l)

[1, 4, 9, 16, 25, 36]

In [3]:
# Map functions takes two arguments, first is a function and second is a list

In [4]:
def sq(x):
  return x**2

In [5]:
list(map(sq,l))  # map function returns a map object, so we need to convert it into list. map(function, argument)

[1, 4, 9, 16, 25, 36]

In [6]:
list(map(lambda x: x**2, l)) # lambda function is an anonymous function, it is used when we need to use a function only once

[1, 4, 9, 16, 25, 36]

In [7]:
list(map(lambda x: str(x), l)) # we can also use map function to convert a list of integers to list of strings

['1', '2', '3', '4', '5', '6']

In [8]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [9]:
list(map(lambda x,y: x+y, l1,l2)) # we can also use map function to add two lists

[7, 9, 11, 13, 15]

In [11]:
f = lambda x,y:x+y

In [12]:
list(map(f, l1,l2))

[7, 9, 11, 13, 15]

In [13]:
s = "Harshadeep"

list(map(lambda x : x.upper(),s)) # we can also use map function to convert a string to upper case

['H', 'A', 'R', 'S', 'H', 'A', 'D', 'E', 'E', 'P']

REDUCE FUNCTION

# BY default reduce is not available in python 3, we need to import it from functools

In [15]:
from functools import reduce

In [16]:
l = [1,2,3,4,5,6,5,6,3]

In [17]:
reduce(lambda x,y: x+y, l) # reduce function takes two arguments, first is a function and second is a list. It has givne the sum of all the elements in the list

35

In [18]:
def add(x,y):
  return x+y

In [19]:
reduce(add, l) # we can also use reduce function to add all the elements in the list

35

In [21]:
reduce(lambda x,y,z: x+y+z, l) # reduce might not work incase of 3 or 4 or 5 arguments. It will work only for 2 arguments

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [22]:
reduce(lambda x,y:x+y,[])

TypeError: reduce() of empty iterable with no initial value

In [23]:
reduce(lambda x,y:x+y,[1])

1

In [28]:
l3 = [250,2,3,4,55,6,7,8,88,123]

In [29]:
reduce(lambda x,y : x if x>y else y, l3) # reduce function can also be used to find the maximum number in the list

250

FILTER FUNCTION

In [ ]:
# Filter function takes two arguments, first is a function and second is a list. It does filering based on the function

In [33]:
l = [1,2,3,4,5,6,7,8,1,2,22,3,455,67,77,88,99,10]

In [34]:
# filter even number

list(filter(lambda x: x%2==0, l)) # filter function returns a filter object, so we need to convert it into list

[2, 4, 6, 8, 2, 22, 88, 10]

In [35]:
# filter odd number
list(filter(lambda x: x%2!=0, l))

[1, 3, 5, 7, 1, 3, 455, 67, 77, 99]

In [36]:
l1 = [1,2,3,4,-5,6,7,-8,1,2,-22,3,455,67,77,88,99,10]

In [37]:
list(filter(lambda x: x>0,l1)) # filter function can also be used to filter positive numbers

[1, 2, 3, 4, 6, 7, 1, 2, 3, 455, 67, 77, 88, 99, 10]

In [39]:
list(filter(lambda x: x<0,l1)) # filter function can also be used to filter negative numbers

[-5, -8, -22]

In [40]:
l2 = ["Harsshadeep","Harsh","Kumar","Singh"]

In [41]:
list(filter(lambda x:len(x)<6,l2)) # filter function can also be used to filter strings based on length

['Harsh', 'Kumar', 'Singh']

In [46]:
def square(x): return x * x 
numbers = [1, 2, 3, 4] 
squared_numbers = map(square, numbers) 
print(list(squared_numbers))

[1, 4, 9, 16]

In [47]:
numbers = [1, 2, 3, 4, 5] 
filtered_numbers = filter(lambda x: x % 2 == 0, numbers) 
print(list(filtered_numbers))

[2, 4]